html, body {
  height: 100%;
}
body{
  margin: 0;
  background-color: #747375;
  background-image: url("./images/calendar.jpg");
  background-position: center bottom; 
}
.page{
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.header{
  height: 100%;
  padding: 0;
}
.content{
  height: 89vh;
  display: flex; 
  align-items: center;
  justify-content: center;
}
button{
  width: 90%;
  font-size: 10vh;
}
.footer {
  padding: 0;
  grid-row-start: 3;
  grid-row-end: 4;
}
@media screen and (min-width: 1400px) {
  body{
    background-position: left top;
  }
}
