html, body {
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}
body{
  margin: 0;
  background-color: #747375;
  background-image: url("./images/calendar.jpg");
  background-position: center bottom; 
}
.page{
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.header{
  height: 100%;
  padding: 0;
}
.content{
  height: 89vh;
  display: flex; 
  align-items: center;
  justify-content: center;
}
.footer {
  padding: 0;
  grid-row-start: 3;
  grid-row-end: 4;
}
@media screen and (min-width: 1400px) {
  body{
    background-position: left top;
  }
}
