html, body {
  height: 100%;
  overflow: scroll;
  overflow: overlay;
  overflow-x: auto;
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #b71c1c;
  border-radius: 5px;
}
body{
  margin: 0;
  background-color: #747375;
  background-image: url("./images/calendar.jpg");
  background-position: center bottom; 
  background-size: cover;
}
.page{
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.header{
  height: 100%;
  padding: 0;
}
.footer {
  padding: 0;
  grid-row-start: 3;
  grid-row-end: 4;
}
@media screen and (min-width: 1400px) {
  body{
    background-position: left top;
  }
}
@media screen and (min-width: 600px) {
  ::-webkit-scrollbar {
    width: 5px;  /* remove scrollbar space */
    height: 5px;
    z-index: -1;
  }
}